.dashboard {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.welcome-card {
  width: 100%;
  max-width: 1000px;

  background: white;

  padding: 50px;

  border-radius: 16px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.welcome-card h1 {
  color: #0E2E63;
  margin-bottom: 15px;
}

.welcome-card p {
  color: #6B7280;
}