body {
  margin: 0;
  background: #F5F7FA;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
}

.main-content {
  width: 100%;
  min-height: 100vh;
}

.page-content {
  width: 100%;
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
  padding: 25px;
}